<template>
    <div class="container d-flex justify-content-center">
        <div class="col-8">
            <div class="card card-default">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="row form-group">
                            <label for="email" class="col-4 col-form-label text-right">Email</label>
                            <div class="col-6">
                                <input type="email" id="email" class="form-control" v-model="email" required autofocus>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="password" class="col-4 col-form-label text-right">Password</label>
                            <div class="col-6">
                                <input type="password" id="password" class="form-control" v-model="password" required>
                            </div>
                        </div>
                        <div class="row form-group mb-0">
                            <div class="col-8 offset-4">
                                <button type="submit" class="btn btn-primary" @click="handleSubmit">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
        handleSubmit(e) {
            e.preventDefault()
            if (this.password.length > 0) {
                let email = this.email
                let password = this.password

                axios.post('api/login', {email, password}).then(response => {
                    let user = response.data.user
                    let is_admin = user.is_admin

                    localStorage.setItem('bigStore.user', JSON.stringify(user))
                    localStorage.setItem('bigStore.jwt', response.data.token)

                    if (localStorage.getItem('bigStore.jwt') != null) {
                        this.$emit('loggedIn')
                        if(this.$route.params.nexUrl != null) {
                            this.$router.push(this.$route.params.nextUrl)
                        } else {
                            this.$router.push((is_admin == 1 ? 'admin' : 'dashboard'))
                        }
                    }
                });
            }
        }
    }
}
</script>

